{% extends 'index.html' %}
{% block body %}
<!-- Our services start -->
<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center p-5 text-primary"><b>Our Services</b></h1>
        </div>
    </div>

    <!-- Emergency Room Services -->
    <div class="row bg-light shadow-sm mb-4 rounded">
        <div class="col-sm-12 text-center">
            <h3 class="p-4 text-dark">Emergency Room Services</h3>
        </div>

        <div class="col-sm-4 p-3">
            <img src="../static/img/emergency room.jpg" alt="Emergency Room" class="img-fluid rounded">
        </div>
        <div class="col-sm-8 d-flex align-items-center">
            <p class="lead text-muted">Our Emergency Room (ER) is available 24/7, providing immediate care for life-threatening injuries
                 and medical conditions. Whether you're facing a critical injury or sudden illness, our ER specialists are trained to provide
                  rapid and high-quality medical interventions. The ER team is equipped with the latest medical technology to diagnose and 
                  treat a wide range of emergencies, ensuring timely and effective care.</p>
        </div>
    </div>

    <!-- Home Nursing Services -->
    <div class="row bg-light shadow-sm mb-4 rounded">
        <div class="col-sm-12 text-center">
            <h3 class="p-4 text-dark">Home Nursing Services</h3>
        </div>

        <div class="col-sm-4 p-3">
            <img src="../static/img/home-care-services.jpg" alt="Home Nursing" class="img-fluid rounded">
        </div>
        <div class="col-sm-8 d-flex align-items-center">
            <p class="lead text-muted">Our Home Nursing Services offer compassionate and professional care right at your doorstep. 
                Whether you require post-surgical care, chronic illness management, or assistance with daily activities, our trained
                 nurses provide personalized care tailored to your specific needs. We strive to improve the quality of life for 
                 patients in the comfort of their own homes, ensuring they receive the attention and support they deserve without 
                 the need to travel to a hospital.</p>
        </div>
    </div>

    <!-- Additional Service 1 -->
    <div class="row bg-light shadow-sm mb-4 rounded">
        <div class="col-sm-12 text-center">
            <h3 class="p-4 text-dark">Surgical Services</h3>
        </div>

        <div class="col-sm-4 p-3">
            <img src="../static/img/surgical.jpg" alt="Surgical Services" class="img-fluid rounded">
        </div>
        <div class="col-sm-8 d-flex align-items-center">
            <p class="lead text-muted">Our Surgical Services offer a comprehensive range of both routine and specialized surgeries 
                performed by experienced, board-certified surgeons. From minimally invasive procedures to complex surgeries,
                 we use the latest techniques and technology to ensure the highest level of care and safety. Our dedicated 
                 surgical team works closely with patients throughout the process, from pre-operative assessments to 
                 post-operative recovery, ensuring a smooth and efficient journey for each patient</p>
        </div>
    </div>

    <!-- Additional Service 2 -->
    <div class="row bg-light shadow-sm mb-4 rounded">
        <div class="col-sm-12 text-center">
            <h3 class="p-4 text-dark">Pediatric Care</h3>
        </div>

        <div class="col-sm-4 p-3">
            <img src="../static/img/pediatric.jpg" alt="Cardiology Services" class="img-fluid rounded">
        </div>
        <div class="col-sm-8 d-flex align-items-center">
            <p class="lead text-muted">Our Pediatric Care services are designed to provide specialized medical attention to infants
                , children, and adolescents in a compassionate and comfortable environment. With a team of experienced pediatricians
                 and nurses, we offer preventive care, treatment for illnesses, vaccinations, and developmental monitoring to ensure 
                 the well-being of your child at every stage of their growth. We understand the unique needs of young patients and
                  prioritize their comfort, safety, and health throughout their healthcare journey.</p>
        </div>
    </div>
</div>
<!-- Our services end -->
{% endblock %}
