{% extends 'home.html' %}
{% block body%}

<div class="row" >
    <div class="col-sm-8">
    <form action="{%url 'adminzone:nfc' %}" method="post" style="background-color: antiquewhite; box-shadow: 20px 20px 20px black;" class="w-75 border border-primary mx-auto p-5 my-3">
        {% csrf_token %}
        <h3 class="text-center"><b>Notifications</b></h3><br><br>
        <input type="text" placeholder="Enter Id" class="form-control" name="nfcid"><br>
        <textarea name="nfc" placeholder="Enter Notification" class="form-control" id="" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Add Notification" class="btn btn-primary form-control">
    </form>
</div>

<div class="col-sm-4">
    <h3 class="text-center text-primary p-5"><b>Sent Notifications</b></h3>
    <table class="table  table-hover table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Sr. No.</th>
                <th>Notification ID</th>
                <th>Notification</th>
            </tr>
        </thead>
        <tbody>
            {% for i in n %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.nfcid }}</td>
                <td>{{ i.nfc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>


{%endblock%}